/* nav bar */
#top_nav{
    background-color: #daac00;
    padding: 0 5%;
    font-weight: 600;
    font-size: larger;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255);
  font-size: 20px;
  padding-left: 20px;
}
#searchBox{
    background-color: #fcc302;
    color: white !important;
    border-radius: 0px;
    border: none;
    position: relative;
    left: 47px;
    box-shadow: 5px 10px 11px 0px #00000045;
}
#searchBox::placeholder{
    color: white;
}

#searchBtn{
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    border-radius: 0;
    color: white;
    border: none;
}

@media only screen and (max-width :768px){
    #searchForm{
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative; /*left or right move krne ke lie pehle position relative and then left or right top and bottom */
        left: -26px;
    }
}
@media only screen and (max-width :500px){
    #top_nav{
        padding: 0;
    }
}

/* banner */
#banner{
    background-color: #fcc302;
    padding-bottom: 20px;
}

#bannerText h1{
    color: white;
    font-size: 70px;
    margin-top: 30px;
}
#bannerText p{
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#banner-btn-1{
    background-color: #00bec9;
    color: white;
    border: 2px solid #00bec9;
}
 #banner-btn-2{
   border: 2px solid white;
   color: white;
   margin-left: 40px;
 }
 @media only screen and (max-width: 1100px){
     #bannerText h1{
  
         font-size: 40px;
     }
     #banner{
         padding-bottom: 70px;
         
     }
     #bannerImg img{
         padding-top: 70px;
     }
 }

  @media only screen and (max-width: 900px){
     #bannerText h1{
  
         font-size: 30px;

     }
     #bannerImg img{
        padding-top: 70px;
     }
 }

 /* services */
#serviceText{
    padding-top: 10%;
    padding-bottom: 5%;
}
#serviceBtn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}
#serviceImage{
    padding: 5%;
}
#serviceImage img{
    box-shadow: -9px -9px  #fcc302;
}
@media only screen and (max-width: 768px){
    #serviceImage{
        padding-top: 10%;
    }
}